.minister {
	padding: 100px 0 80px 0;
	background-color: #b1ccbd;
	&__flex-container {
		display: flex;
		justify-content: space-between;
	}
	&__text-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 650px;
		margin-left: 100px;
	}
	&__title {
		@include title($text-color-primary, 33px);
	}
	&__text {
		width: 100%;
		@include text($text-color-primary);
	}
	&__text-pastor-one {
		margin-bottom: 15px;
	}
	&__img {
		width: 470px;
		height: auto;
		object-fit: cover;
	}
	&__divider {
		margin-top: 40px;
		background-color: white;
		width: 100%;
		height: 1px;
	}
	&__contacts {
		margin-top: 30px;
		display: flex;
		width: 100%;
		justify-content: space-between;
		&-block {
			display: flex;
			justify-content: space-between;
			width: 202px;
		}
		&-social {
			width: 40px;
		}
		&-telephone-mail {
			display: flex;
			/* flex-direction: column-reverse; */
			width: 311px;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
		}
	}
	&__link-telephone {
		position: relative;
		text-decoration: none;
		@include text($text-color-primary);
		font-size: 14px;
		color: black;
		&:before {
			content: "";
			position: absolute;
			background: url("./icons/contacts_icons/free-icon-telephone.png") no-repeat center center;
			background-size: contain;
			height: 30px;
			width: 30px;
			top: 50%;
			transform: translateY(-50%);
			left: -39px;
			z-index: 100;
			display: inline-block;
		}
	}
	&__link-mail {
		position: relative;
		@include text($text-color-primary);
		font-size: 14px;
		text-decoration: none;
		color: black;
		&:before {
			content: "";
			position: absolute;
			background: url("./icons/contacts_icons/free-icon-email.png") no-repeat center center;
			background-size: contain;
			height: 40px;
			width: 25px;
			left: -39px;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
		}
	}
}

@media (max-width: 1200px) {
	.minister {
		&__contacts {
			flex-direction: column;
			&-telephone-mail {
				margin-top: 20px;
				margin-left: 40px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.minister {
		&__text-wrapper {
			margin-left: 60px;
		}
	}
}
@media (max-width: 992px) {
	.minister {
		&__text-wrapper {
			margin-left: 40px;
		}
	}
}

@media (max-width: 934px) {
	.minister {
		&__img {
			object-fit: cover;
			object-fit: cover;
			width: 436px;
		}
	}
}
@media (max-width: 872px) {
	.minister {
		&__contacts {
			&-telephone-mail {
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&__link-mail {
			margin-top: 10px;
			margin-left: 2px;
		}
	}
}
@media (max-width: 838px) {
	.minister {
		&__img {
			-o-object-fit: cover;
			object-fit: cover;
			width: 366px;
			height: 620px;
		}
	}
}

@media (max-width: 768px) {
	.minister {
		&__title {
			@include title-768px();
		}
		&__text {
			@include text-768px();
		}
		&__img {
			width: 291px;
			height: 570px;
		}
	}
}
@media (max-width: 641px) {
	.minister {
		&__flex-container {
			flex-direction: column-reverse;
		}
		&__img {
			width: 100%;
			height: auto;
			margin-top: 40px;
		}
		&__title {
			text-align: center;
		}
		&__text-wrapper {
			margin-left: 0px;
		}
	}
}
@media (max-width: 576px) {
	.minister {
		&__title {
			@include title-576px();
		}
	}
}
