.nav {
	position: relative;
	background-color: #b1ccbd;
	padding: 12px 0 0 0;
	width: 100%;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__link-logo {
		display: flex;
		align-items: center;
	}
	&__link-logo {
		text-decoration: none;
	}
	&__logo {
		width: auto;
		height: 99px;
	}
	&__logo-text {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
		&-first {
			margin-top: 10px;
			font-family: "Montserrat-BoldItalic", sans-serif;
			font-size: 19px;
			color: brown;
		}
		&-second {
			font-family: "Montserrat-BoldItalic", sans-serif;
			line-height: 34px;
			font-size: 20px;
			color: #716c6c;
		}
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 500px;
		font-family: "Poppins-regular", sans-serif;
		font-size: 14px;
		letter-spacing: 0.5px;
		&-item {
			cursor: pointer;
			text-decoration: none;
			color: $text-color-primary;
			color: rgba(139, 35, 35, 0.8);
			transition: all 0.3s ease-in-out;
			&:hover {
				color: rgb(125, 32, 32);
			}
		}
	}
}
.nav__menu-item--active {
	font-family: "Poppins-Medium", sans-serif;
}
@media (max-width: 914px) {
	.nav {
		&__menu {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.nav {
		&__logo {
			width: 68px;
			height: 58px;
		}
		&__logo-text {
			&-first {
				font-size: 15px;
			}
			&-second {
				font-size: 16px;
				line-height: 34px;
			}
		}
	}
}
@media (max-width: 576px) {
	.nav {
		&__link-logo {
			margin-top: 0px;
		}
		&__logo {
			width: 65px;
			height: 56px;
		}
		&__logo-text {
			&-first {
				font-size: 13px;
			}
			&-second {
				font-size: 14px;
				line-height: 28px;
			}
		}
	}
}
