.o-nas {
	background-color: #f9f9f9;
	padding: 100px 0 80px 0;
	&__img {
		width: 540px;
		height: 500px;
	}
	&__flex-container {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 570px;
		margin-left: 40px;
	}
	&__title {
		@include title($text-color-primary, 13px);
	}
	&__subtitle {
		@include subtitle($text-color-primary, 22px);
	}
	&__text {
		&-one {
			@include text($text-color-primary);
		}
		&-two {
			margin-top: 15px;
			@include text($text-color-primary);
		}
	}
}
@media (max-width: 951px) {
	.o-nas {
		&__img {
			object-fit: cover;
			height: 560px;
			object-position: 87% 50%;
		}
	}
}
@media (max-width: 934px) {
	.o-nas {
		&__img {
			width: 471px;
		}
	}
}
@media (max-width: 864px) {
	.o-nas {
		&__img {
			object-position: 51% 50%;
			width: 443px;
			height: 562px;
		}
	}
}
@media (max-width: 832px) {
	.o-nas {
		&__img {
			object-position: 39% 50%;
			width: 443px;
			height: 630px;
		}
	}
}
@media (max-width: 792px) {
	.o-nas {
		&__img {
			width: 405px;
			height: 644px;
		}
	}
}
@media (max-width: 768px) {
	.o-nas {
		&__img {
			width: 300px;
			height: 444px;
			object-position: 64% 50%;
		}
		&__title {
			@include title-768px();
		}
		&__subtitle {
			@include subtitle-768px();
		}
		&__text {
			&-one {
				@include text-768px();
			}
			&-two {
				@include text-768px();
			}
		}
	}
}
@media (max-width: 698px) {
	.o-nas {
		&__img {
			height: 533px;
			object-position: 32% 50%;
		}
	}
}
@media (max-width: 640px) {
	.o-nas {
		&__title {
			text-align: center;
		}
		&__subtitle {
			text-align: center;
		}
		&__flex-container {
			flex-direction: column-reverse;
		}
		&__img {
			object-position: 30% 50%;
			margin-top: 40px;
			width: 100%;
		}
		&__content {
			margin-left: 0;
		}
	}
}
@media (max-width: 576px) {
	.o-nas {
		&__img {
			object-position: 30% 50%;
			height: 100%;
			width: 100%;
		}
		&__title {
			@include title-576px();
		}
		&__subtitle {
			@include subtitle-576px();
		}
		&__text {
			&-one {
				font-size: 14px;
				line-height: 22px;
			}
			&-two {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

@media (max-width: 460px) {
	.o-nas {
		&__img {
			object-position: 68% 50%;
			height: 400px;
			width: 100%;
		}
	}
}
