.welcome {
	background-image: url(img/Welcome-to-Our-Baptist-Church1.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 195px 0 180px;
}
.welcome__title {
	color: #8b2323;
	font-family: Poppins-Bold, sans-serif;
	font-size: 60px;
	line-height: 72px;
	margin-bottom: 30px;
}
.welcome__subtitle {
	color: #8b2323;
	font-family: Poppins-Medium, sans-serif;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 40px;
	width: 424px;
}
.welcome__btn {
	background-color: olive;
	border: none;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	font-family: Poppins-Regular, sans-serif;
	font-size: 18px;
	line-height: 27px;
	margin-top: 30px;
	padding: 10px 40px;
	-webkit-text-decoration: none;
	text-decoration: none;
	transition: all 0.3s ease;
}
.welcome__btn:hover {
	background-color: #636304;
}
@media (max-width: 992px) {
	.welcome {
		background-position: 30%;
		height: auto;
		padding: 123px 0 180px;
	}
}
@media (max-width: 768px) {
	.welcome {
		height: auto;
	}
	.welcome__title {
		font-size: 50px;
		line-height: 60px;
	}
	.welcome__subtitle {
		font-size: 18px;
		line-height: 28px;
		width: 384px;
	}
}
@media (max-width: 576px) {
	.welcome {
		background-position: 34%;
		min-height: 60vh;
		padding: 150px 0 125px;
	}
	.welcome__title {
		font-size: 40px;
		line-height: 50px;
	}
	.welcome__subtitle {
		font-size: 16px;
		line-height: 24px;
		width: 290px;
	}
}
@media (max-width: 440px) {
	.welcome {
		background-position: left 45% center;
	}
	.welcome__subtitle {
		font-size: 16px;
		line-height: 24px;
		width: 163px;
	}
}